  header
             {
                  background-image: url(2.webp);
                 color: whitesmoke; 
                 padding: 10px;
                 text-align: center;
                 
             }
.fa{
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align:center;
    margin: 5px 2px;
    border-radius: 50%;
    text-decoration: none;
    
}


}
.fa:hover{
    opacity: 0.8;
}
.fa-linkedin{
    background-color:dodgerblue;
    color: white;
    width: 100px;
    height: 100px;
}
.fa-whatsapp{
    background-color: green;
    color: white;
}
.fa-telegram{
    background-color:deepskyblue;
    color: white;
}
.fa-youtube{
    background-color:red;
    color: white;
}
.fa-instagram{
    background-color:#f542e6;
    color: white;
}
.fa-Amazon{
    background-color:#FF9900;
    color: white;
}
.fa-twitter{
    background-color:deepskyblue;
    color: white;
}
.fa-facebook{
    background-color:deepskyblue;
    color: white;
}
